services:
  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    hostname: spark-master
    command: bash -c "/opt/spark/sbin/start-master.sh && tail -f /dev/null"
    ports:
      - "7077:7077"
      - "8080:8080"
      - "4040:4040"
    volumes:
      - ./spark-hdfs-streaming/structured-streaming-app/data/input:/data/input
      - ./spark-hdfs-streaming/structured-streaming-app/target:/app
      - ./spark-hdfs-streaming/structured-streaming-app/libs:/libs
      - ./spark-hdfs-streaming/structured-streaming-app/checkpoint:/tmp/checkpoint
    networks:
      - spark-net

  spark-worker:
    image: apache/spark:3.5.1
    container_name: spark-worker
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=2G
      - SPARK_WORKER_CORES=2
    command: bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 && tail -f /dev/null"
    ports:
      - "8081:8081"
    volumes:
      - ./spark-hdfs-streaming/structured-streaming-app/structured/data/input:/data/input
      - ./spark-hdfs-streaming/structured-streaming-app/target:/app
      - ./spark-hdfs-streaming/structured-streaming-app/libs:/libs
      - ./spark-hdfs-streaming/structured-streaming-app/checkpoint:/tmp/checkpoint
    networks:
      - spark-net

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - spark-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - postgres
    networks:
      - spark-net

networks:
  spark-net:
    driver: bridge
